[mysqld]
pid-file = /var/run/mysqld/mysqld.pid

[mariadb]
log_output=FILE
general_log
general_log_file=/var/log/mysql/mariadb.log
slow_query_log
slow_query_log_file=/var/log/mysql/mariadb-slow.log
long_query_time=1
log_slow_admin_statements=ON